In [90]:
import pandas as pd
import scipy
import numpy as np

people = ([{'name': 'Adam', 'Math': 11, 'Science': 9,'Reading': 16, 'History': 13.5},
          {'name': 'Anna', 'Math': 12, 'Science': 11, 'Reading': 8.5, 'History': 10},
          {'name': 'James', 'Math': 1, 'Science': 18, 'Reading': 11.5, 'History': 9},
           {'name': 'Corey', 'Math': 7, 'Science': 15.5, 'Reading': 11, 'History': 14},
            {'name': 'Alisha', 'Math': 9.5, 'Science': 12, 'Reading': 10.5, 'History': 14},
            {'name': 'Jodie', 'Math': 15, 'Science': 18.5, 'Reading': 7, 'History': 12},
            {'name': 'John', 'Math': 18, 'Science': 15.5, 'Reading': 11, 'History': 7.5}
])
dict_df= pd.DataFrame(people)
#1.
mean_math = dict_df["Math"].mean()
mean_sci  = dict_df["Science"].mean()
mean_read = dict_df["Reading"].mean()
mean_Hist  = dict_df["History"].mean()
print(f'math: {mean_math} \nscience: {mean_sci} \nreading: {mean_read} \nhistory: {mean_Hist}')
# display(dict_df)

math: 10.5
science: 14.214285714285714
reading: 10.785714285714286
history: 11.428571428571429

In [62]:
#2.
math_median = dict_df["Math"].median()
display(math_median)

11.0

In [59]:
#3.
mode_history = dict_df["History"].mode()
display(mode_history)

0    14.0
Name: History, dtype: float64

In [79]:
#Question 2:Given the following grades from Question 1, calculate the correlation between the different subjects.
# What two subjects have the strongest correlation?

subject = ["Math","Science","History", "Reading"]
# compare = people['Math'].corr(people['History'].corr(people["Science"]))
dict_df[subject].corr()

             Math   Science   History   Reading
Math     1.000000 -0.140006 -0.190252 -0.252590
Science -0.140006  1.000000 -0.358688 -0.527606
History -0.190252 -0.358688  1.000000  0.206794
Reading -0.252590 -0.527606  0.206794  1.000000

In [103]:
# Question 3:Consider the following numbers representing the grades from the most recent exam in a math class:

g = grades = [24, 5, 15, 60, 54, 82, 99, 80, 70, 98, 93, 60, 33, 22, 65, 61, 51, 58, 83, 86, 42, 67, 60]

def desc_stats(g):
    print(f'mean: {np.mean(grades)}')
    print(f'median: {np.median(grades)}')
    print(f'min: {np.min(grades)}')
    print(f'max: {np.max(grades)}')
    print(f'range: {np.ptp(grades)}')
    print(f'variance: {np.var(grades)}')
    print(f'standard deviation: {np.std(grades)}')

desc_stats(g)

mean: 59.47826086956522
median: 60.0
min: 5
max: 99
range: 94
variance: 664.1625708884687
standard deviation: 25.771351747404882